/* CSS Document */
html,body{
	height:100%;
	overflow:hidden;
}
#painel{
	position:absolute;
	top:10%;
	right:2%;
	width:350px;
	white-space:nowrap;
}
#edicao{
	position:absolute;
	top:10%;
	left:2%;
	width:15%;
}
#edicao .navbar .brand{
	float:none !important;
}
#edicao .navbar,#edicao .container-fluid{
	margin:0;
	padding:0;
}
#edicao .separador{
	width:100%;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #FFF;
}
.red {
	color:#F00;
}
iframe#cms-site{
	width:100%;
	height:100%;
}